In [1]:
import pandas as pd
import numpy as np
import matplotlib 
import rebound
from matplotlib import pyplot as plt
import time
%matplotlib inline

In [4]:
data = pd.read_csv("../Figures/MCMCFigures/Weibull_Parameters_266.csv", index_col=0)
data.head()

        ID     Gamma  Location     Alpha
0   1007.0  2.614027  4.447527  1.283371
1   1021.0  3.269655  4.989150  1.129664
2   1025.0  2.249906  4.965337  0.938566
3   1041.0  1.856930  4.863439  0.972277
4  10518.0  1.596694  5.781111  0.761953

In [11]:
trimmed = data[(data['Location'] >4) & (data['Gamma'] <1)]
trimmed.tail()

          ID     Gamma  Location         Alpha
207   2288.0  0.983246  4.492616  2.604807e-01
240  24930.0  0.794645  4.664790  4.619831e-01
251   4753.0  0.864944  5.899501  3.470904e-01
263   8744.0  0.833252  4.705257  1.546389e-01
265     99.0  0.999930  7.983125  8.810369e-16

In [12]:
trimmed[trimmed["ID"] != 99.0].to_csv("../csvs/oddballs.csv", index = False)

In [13]:
times = pd.read_csv("../../Long300/Sys_99_1e8.csv", index_col=0)
times.head()

   Unnamed: 0.1    runstring            t
0             0  0000000.bin  100000000.0
1             1  0000001.bin  100000000.0
2             2  0000002.bin  100000000.0
3             3  0000003.bin  100000000.0
4             4  0000004.bin  100000000.0

In [15]:
times[times["t"] < 100000000.]

     Unnamed: 0.1    runstring             t
164           164  0000164.bin  9.618883e+07

In [18]:
#come this time with the one discovered initially
all_systems = pd.read_csv("../csvs/initial_orbital_elements.csv", index_col=0)
all_systems.loc[164]

runstring           0000164.bin
Stable                        0
instability_time    1.99695e+08
Rel_Eerr            5.63444e-08
RHill12              0.00691794
RHill23               0.0312102
beta12                  14.4268
beta23                  18.5464
m1                  1.93199e-07
a1                            1
P1                            1
e1                  0.000190132
pomega1                   1.988
inc1                  0.0533739
Omega1                 0.693574
f1                     -3.45339
m2                  8.00036e-07
a2                       1.0998
P2                      1.15338
e2                   0.00284821
pomega2               -0.349004
inc2                 0.00238704
Omega2                 -1.82626
f2                    -0.976996
m3                  6.77594e-05
a3                      1.67864
P3                      2.17482
e3                  7.02296e-06
pomega3                0.711998
inc3                  0.0490256
Omega3                 0.553572
f3                      2.30495
Name: 164, dtype: object